<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirteen.oph.hr.mapper.IElderMapper">

  <resultMap id="ElderResultMap" type="Elder">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="sex" column="sex"/>
    <result property="birthday" column="birthday"/>
    <result property="leaveday" column="leaveday"/>
    <result property="joinday" column="joinday"/>
    <association property="room" columnPrefix="room_"
      resultMap="com.thirteen.oph.hr.mapper.IRoomMapper.RoomResultMap"/>
  </resultMap>

  <insert id="insert" parameterType="Elder">
    insert into oph_elder values (#{id}, #{name}, #{sex}, #{birthday}, 
    #{joinday}, #{leaveday}, #{room.id})
  </insert>
  
  <update id="update" parameterType="Elder">
    update oph_elder set name=#{name}, sex=#{sex}, birthday=#{birthday}, 
    joinday=#{joinday}, leaveday=#{leaveday}, room_id=#{room.id} where id=#{id}
  </update>

  <delete id="delete" parameterType="Elder">
    delete from oph_elder where id=#{id}
  </delete>
  
  <select id="selectById" resultMap="ElderResultMap">
    select * from oph_elder where id=#{id}
  </select>
  
  <!-- Select all info, Department and hobbies included  -->
  <select id="selectAll" resultMap="ElderResultMap">
    select a.*, b.layout as room_layout
    from oph_elder a
      inner join oph_room b on a.room_id=b.id
  </select>
  
  <select id="selectAllWithPage" resultMap="ElderResultMap">
    select a.*, b.layout as room_layout
    from oph_elder a
      inner join oph_room b on a.room_id=b.id
    limit #{start}, #{row}
  </select>
 
  <select id="selectCountAll" resultType="int">
    select count(*)
    from oph_elder a
      inner join oph_room b on a.room_id=b.id
  </select>
  <!-- =============== -->
  
  <select id="selectAllByRoom" resultMap="ElderResultMap">
    select a.*, b.layout as room_layout
    from oph_elder a
      inner join oph_room b
    where a.room_id=${room.id}
  </select>
  
</mapper>