<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirteen.oph.pm.mapper.IRoomMapper">

  <resultMap id="RoomResultMap" type="Room">
    <id property="id" column="id"/>
    <result property="layout" column="layout"/>
    <collection property="members" ofType="ElderModel" columnPrefix="elder_"
      resultMap="com.thirteen.oph.hr.mapper.IElderMapper"/>
  </resultMap>

  <insert id="insert" parameterType="Room">
    insert into oph_room (id, layout) values (#{id}, #{layout})
  </insert>
  
  <update id="update">
    update oph_room set id=#{id}, layout=#{layout} where id=#{id}
  </update>

  <delete id="delete">
    delete from oph_room where id=#{id}
  </delete>
  
  <select id="selectById" resultMap="RoomResultMap">
    select * from oph_room where id=#{id}
  </select>
  
  <!-- reultType: the type of object IN THE CONTAINER -->
  <select id="selectAll" resultType="com.thirteen.oph.pm.model.RoomModel">
    select id, layout from oph_room
  </select>
  
  <!-- ===== -->
  <select id="selectAllWithPage" resultMap="RoomResultMap">
    select * from oph_room limit #{start}, #{row}
  </select>
 
  <select id="selectCountAll" resultType="int">
    select count(*) from oph_room
  </select>
  
</mapper>